.TodoList {
    list-style-type: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    .FiltersPanel {
        display: flex;
        gap: 10px;
    }
}